/*strat main rules */
body{
	background-color: #f4f4f4;
	font-size: 14px;
	
}
/*strat main rules */

.asterisk{
	color: #ff3838;
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;

}

h1{
	font-size: 55px;
	margin: 40px 0;
	font-weight: bold;
	color: #666;
}
a{
	color: #2980b9;
}
body a:hover{
	text-decoration: none;
	color: #27ae60;
}
.info .edit-profile {
	margin-top: 10px;
}
.upper-bar{
	padding: 10px;
	background-color: #fff;
}
.upper-bar .dropd{
	background-color: #f1c40f;
	border: none;
	border-radius: 0;
}
.upper-bar .profile-img{
	width: 32px;
    height: 32px;
}


/* start login form */

.login-page form{
    max-width: 380px;
    margin: auto;

}
.login-page form input{
	margin-top: 10px;
}
.form-group {
	position: relative;
}
.login-page [data-class="login"].selected {
	color: #2980b9;
}
.login-page [data-class="signup"].selected {
	color: #27ae60;
}

.login-page h1 {
	color: #c0c0c0;
}
.login-page h1 span{
	cursor: pointer;
}
.login-page .signup{
	display: none;
}
/* end login form */

/*start profile */
.block{
	margin: 20px 0 0 0;

}
/*end profile*/

/*start categories page*/
.item-box {
	position: relative;
	margin: 15px;
	padding: 15px
}
.item-box .card-img-top{
	height: 200px;
	width: 100%;
}
.item-box  .card-title{
	white-space: nowrap;
}
.item-box  .card-body{
	height: 200px;

}
.item-box .price-tag{
	position: absolute;
	background: #3a3a3a;
	padding: 3px 10px;
	top: 5px;
	left: 0;
	font-weight: bold;
	color: #fff;
}
.item-box .approve{
	position: absolute;
	background: #c0392b;
	padding: 3px 10px;
	top: 35px;
	left: 0;
	font-weight: bold;
	color: #fff;
}
/*end categories page*/

/*start boostrap edit*/
.navbar {
	padding: .2rem;
}
.navbar-brand {
	font-size: 1em;
}
.dropdown >a:hover,
.dropdown >a:focus,.dropdown-menu{
	background: #3498db;

}
.dropdown a{
	color: #ffffff;

}
.dropdown-menu{
    min-width: 11rem;
    padding: 0;
    border:none;
    border-radius: 0;
    margin:0;
}
.dropdown-menu .dropdown-item:hover {
   background: #f1c40f;
}
.latest-users .activate{
	margin-right: 5px;
}
.latest-users li a{
	color: #fff;
	text-decoration: none;
  

}  


/*end boostrap edit*/
/*start items page*/

.comment-box{
	margin: 10px
}
.comment-box img{
	max-width: 80px;
}
.comment-box .comm{
	background-color: #e0e0e0;
	position: relative;
	padding: 10px;
}
.comment-box .comm:before{
	content: "";
	width: 0;
	height: 0;
	border-width: 15px;
	border-style: solid;
	border-color: transparent #e0e0e0 transparent transparent;
	position: absolute;
	top: 50px;
	left: -25px;

}
/*end items page*/
