/*strat main rules */
body{
	background-color: #f4f4f4;
	font-size: 14px;
}
/*strat main rules */

.asterisk{
	color: #ff3838;
    position: absolute;
    right: 30px;
    top: 6px;
    font-weight: bold;

}
a{
	color: #2980b9;
	font-weight: bold;
}
body a:hover{
	text-decoration: none;
	color: #27ae60;
}
/* start login form */
.login {
	width: 300px;
	margin: 100px auto;
}
.login h4{
	color: #888;
}
.login input{
	margin-bottom: 10px;
}
.form-control {
	position: relative;
}
.login .form-control{
    background-color: #eaeaea;
}
.form-control .btn{
	background-color: #008dde;
}
/* end login form */

/*start home page*/
.home-stats .stat{
	background-color: #eee;
	padding: 20px;
	font-size: 15px;
	color: #fff;
	border-radius: 10px;
	position: relative;
	overflow: hidden;


}
.home-stats .stat i {
    font-size: 75px;
    position: absolute;
    top: 35px;
    left: 30px;
}
.home-stats .stat span{
	display: block;
	font-size: 60px;
	right: 30px;
}
.home-stats .stat .info {
	float: right;
}
.home-stats .stat span a{
	color: #fff;
	text-decoration: none;
}
.home-stats  .st-members{
    background: #2ecc71;
}
.home-stats .st-pending{
    background: #8e44ad;
}
.home-stats .st-items{
    background: #c0392b;
}
.home-stats .st-comments{
    background: #f39c12;
}
.latest{
	margin-top: 40px;
}
.latest .toggle-info {
	color: #999;
	cursor: pointer;
}
.latest .toggle-info:hover{
	color: #444;
}
.latest .comment-box {
	margin: 5px 0;
}
.latest .comment-box .u-name ,
.latest .comment-box .comment
{
	float: left;
}
.latest .comment-box .u-name {
	width: 80px;
	top: 5px;
    text-align: center;
	margin-right: 20px;
	position: relative;
}
.latest .comment-box .comment{
	width: calc(100% - 100px);
	background: #eeeeee;
	padding: 10px;
	position: relative;
}
.latest .comment-box .comment:before{
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #eee transparent transparent;
    border-width: 15px;
}
/*end home page*/

/*start boostrap edit*/
.navbar {
	padding: .2rem;
}
.navbar-brand {
	font-size: 1em;
}
.dropdown >a:hover,
.dropdown >a:focus,.dropdown-menu{
	background: #3498db;

}
.dropdown a{
	color: #ffffff;

}
.dropdown-menu{
    min-width: 11rem;
    padding: 0;
    border:none;
    border-radius: 0;
    margin:0;
}
.dropdown-menu .dropdown-item:hover {
   background: #f1c40f;
}
.latest-users .activate{
	margin-right: 5px;
}
.latest-users li a{
	color: #fff;
	text-decoration: none;
  

}  


/*end boostrap edit*/
/*start edit page*/
h1{
	font-size: 55px;
	margin: 40px 0;
	font-weight: bold;
	color: #666;
}
.show-pass{
	position: absolute;
	top: 10px;
    right: 50px;
    color: #888;
}
.btn {
	padding: 3px 10px;
}
.main-table 
{
	vertical-align: middle;
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 10px #ccc;
	-moz-box-shadow: 0 3px 10px #ccc;
	box-shadow: 0 3px 10px #ccc;

}
.manage-member img{
	width: 80px;
	height: 50px;
}
.avatar-img{
	max-width: 200px;
    height: 150px;
	margin: 10px;
}
.cat .not-active{
	color: #bdc3c7;
}
.cat .active{
	color: #27ae60;
}
/*end edit page*/

